# Environments
venv/
env/
.env
.venv/
data/

# RunPod & GPU Caches
.triton_cache/
.cache/
.ipynb_checkpoints/
torchinductor_root/

# Python artifacts
__pycache__/
*.py[cod]
*.class

# Large files (optional - uncomment if needed)
# *.pt
# *.safetensors
# *.bin